{% load socialaccount %}
{% providers_media_js %}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Represent Simple Map</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=en8cpdjmtb"></script>
</head>

<body>


    <h1> hello world! </h1>

    <a href="/accounts/signup">Sign Up</a> <br>

    {% if user.is_authenticated %}
    <a href="/accounts/logout">Log Out</a> <br>
    {{user.username}} is now logged in.

    {% else %}
    <a href=" {% provider_login_url 'google' %}">Google Login</a> <br>
    Need to Login

    {% endif %}

    <br>
    <br>
    <div id="map" style="width:70%;height:400px;"></div>
    <br>
    <div id="map2" style="width:70%;height:400px;"></div>


    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 14
        };

        var map = new naver.maps.Map('map', mapOptions);
    </script>

    <script>
        var mapOptions2 = {
            center: new naver.maps.LatLng(37.5013068, 127.0396397),
            zoom: 18
        };

        var map = new naver.maps.Map('map', mapOptions);
        var map = new naver.maps.Map('map2', mapOptions2);
    </script>


</body>

</html>